/*CSS DOCUMENT*/
@import url("https://use.typekit.net/kdw7qtc.css");

div.container {
    max-width: 60em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto 3em 3em;
}

nav ul {
    padding: 1em;
}

nav ul li {
    font-family: sofia-pro, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    list-style-type: none;
    display: inline;
    margin-right: 2em;
    text-transform: uppercase;
}

nav ul li a {
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #A3442A;
}

body {
    padding: 0.5em;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9em;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    background-color: #F3F0E4;
}

header {
    grid-column: 1/4;
    padding: 0.5em;
}

menu {
    grid-row: 3/4;
    grid-column: 1/4;
}

article {
    max-width: 60em;
    margin: auto;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(2, 1fr); 
    grid-row: 2/3;
}

h2, h3, h5 {
    color: #A3442A;
}

h2 {
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    grid-column: 1/4;
    text-align: left;
    padding-top: 0.5em;
    margin-left: 1em;
    
}

ul li {
    list-style-type: none;
}

.menuitem {
    font-style: italic;
}

p {
    grid-column: 1/6;
    margin-left: 1.25em;
}

figure {
    max-width: 60em;
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
    grid-column: 1/4;
    padding: 0.5em;
}

img {
    width: 100%; /*Please leave this line.*/
}

footer {
    font-style: italic;
    font-size: 0.8em;
    text-transform: uppercase;
    grid-column: 1/4;
}

footer a {
    color: #222222;
    text-decoration: none; 
}

footer a:hover {
    color: #A3442A;
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */